<div *ngIf="showComponent">
<div class="NavBar" style="background-color: #00a7ee;"> 
<nav class="navbar navbar-expand-lg navbar-light" style="margin-top: 0px;">
 
 <img  style="width: 40px; border-radius: 100px; margin-left: 10px;" src="./../../favicon.ico">
  <a class="navbar-brand" href="#" style="margin-left:10px;">Phonebook System</a>

<div *ngIf="email=='Admin@site.com'" class="multi-button" style="margin-left: 600px;">
  <button 
  [class.active]="searchType === 'Email'" 
  (click)="changeKeySearch('Email')">Email</button>
<button 
  [class.active]="searchType === 'Name'" 
  (click)="changeKeySearch('Name')">Name</button>
<button 
  [class.active]="searchType === 'Phone'" 
  (click)="changeKeySearch('Phone')">Phone</button>
</div>
  <div *ngIf="email=='Admin@site.com'" class="" id="navbarSupportedContent" style="margin-left: 60px;">
      <input style="border-radius: 15px;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchKeyword" >
  </div>
  <div *ngIf="email=='Admin@site.com'" style="margin-left: 60px;">
  <button  id ="form-button"class="btn btn-outline-success "style="border-radius: 20px;" type="submit" (click)="filterContacts()">Search</button>
</div>
</nav>
</div>

<div *ngIf="email=='Admin@site.com'" id="Create" style="margin-top: 30px; margin-left: 25px; ">
  <button routerLink="Create" type="button" class="btn btn-lg " style="background-color: #0eb440; color:#ffffff;" routerLink="Create" (click)="changeVisibility()" >Create Contact</button>
</div>

<div *ngIf="email=='Admin@site.com'" class="line"></div>

<div class="Table" style="width: 700px;">
<table class="table table-striped">
  <thead>
    <tr>
      <th *ngIf="false" scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th *ngIf="email=='Admin@site.com'" scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ContactsList">
      <td *ngIf="false">{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.phoneNumber }}</td>
      <td>{{ item.email }}</td>
    <td *ngIf="email=='Admin@site.com'">
      <button style="border-radius:25px;" class="btn btn-danger" type="submit" (click)="deleteRecord(item.id)">Delete Contact</button>
    </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<app-add-new-contact *ngIf="!showComponent"></app-add-new-contact>
